h1{
    color: orange;

}
h2{
    color: red;
    size:23;
    font-family: 'Times New Roman', Times, serif;
}
img{
    color: red;
    size:23;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: blueviolet;
}
